NAME - PATHIK PATEL \\
ID   - 202003002



> Recommend restuarnt using USER-USER approach


> Recommend restuarnt  using ITEM-ITEM approach

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import gzip
import json

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Data loading

In [ ]:
N = 2000000 # getting the first 20 lakh rows 
data_reviews = []
with gzip.open('/content/drive/My Drive/reviews.clean.json.gz') as f:
    head = [next(f) for x in range(N)]
    for l in head:
        data_reviews.append(eval(l))

In [ ]:
df_data_reviews = pd.DataFrame.from_dict(data_reviews)

In [ ]:
df_data_reviews = df_data_reviews.explode('categories')
df_data_reviews = df_data_reviews.dropna(subset = ["categories"])

In [ ]:
df_data_reviews = df_data_reviews.loc[df_data_reviews["categories"].str.endswith('Restaurant')]  # considering only those reviews which are rated to a restruant

In [ ]:
filter_df = df_data_reviews[df_data_reviews.groupby("gPlusUserId")["categories"].transform("size")>10]  # considering only those users who have rated greater then 10 times
final_df = filter_df[filter_df.groupby("categories")["categories"].transform("size")>3]  ## considering only those restuarant types which to which atleast 3 users have rated

In [ ]:
def count_words(s):
    return len(s.split())

In [ ]:
final_df["temp"] = final_df.apply(lambda x: count_words(x['categories']),axis=1)
final_df = final_df.loc[final_df['temp'] > 1]
final_df = final_df.drop(['temp'],axis=1)

<ipython-input-10-9bdecb36c3fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["temp"] = final_df.apply(lambda x: count_words(x['categories']),axis=1)

In [ ]:
final_df

,rating,reviewerName,reviewText,categories,gPlusPlaceId,unixReviewTime,reviewTime,gPlusUserId
124,5.0,Marce Castro,Un restaurante situado al lado del metro Tribu...,Spanish Restaurant,101629152433762263081,1.386839e+09,"Dec 12, 2013",100000242929724813348
124,5.0,Marce Castro,Un restaurante situado al lado del metro Tribu...,European Restaurant,101629152433762263081,1.386839e+09,"Dec 12, 2013",100000242929724813348
132,4.0,Marce Castro,Otro de mis pubs irlandeses favoritos en la zo...,European Restaurant,103008023740714806432,1.386840e+09,"Dec 12, 2013",100000242929724813348
134,5.0,Marce Castro,Descubrí este sitio con unos amigos que habían...,Polish Restaurant,103127515730297321538,1.386231e+09,"Dec 5, 2013",100000242929724813348
135,4.0,Marce Castro,"Soy fan del sandwich de pavo con manzana, aunq...",Fast Food Restaurant,103356128476094784121,1.380048e+09,"Sep 24, 2013",100000242929724813348
...,...,...,...,...,...,...,...,...
1999904,5.0,Nicolas Adrian,None,Mediterranean Restaurant,117142217323564372841,1.315069e+09,"Sep 3, 2011",103185877761415724929
1999904,5.0,Nicolas Adrian,None,Israeli Restaurant,117142217323564372841,1.315069e+09,"Sep 3, 2011",103185877761415724929
1999905,5.0,Nicolas Adrian,None,Latin American Restaurant,117539254378304719441,1.289961e+09,"Nov 16, 2010",103185877761415724929
1999905,5.0,Nicolas Adrian,None,Mexican Restaurant,117539254378304719441,1.289961e+09,"Nov 16, 2010",103185877761415724929
1999906,5.0,Nicolas Adrian,None,French Restaurant,118041390561220936617,1.314459e+09,"Aug 27, 2011",103185877761415724929

#USER-USER

# creating user-item matrix

In [ ]:
user_place_mat = final_df.pivot_table(index="gPlusUserId",columns="categories",values="rating")
user_place_mat

categories,Afghani Restaurant,African Restaurant,Alsace Restaurant,American Restaurant,Andalusian Restaurant,Argentinian Restaurant,Armenian Restaurant,Asian Fusion Restaurant,Asian Restaurant,Asturian Restaurant,...,Vegetarian Restaurant,Venetian Restaurant,Venezuelan Restaurant,Vietnamese Restaurant,West African Restaurant,Western Restaurant,Wok Restaurant,Yakiniku Restaurant,Yakisoba Restaurant,Yakitori Restaurant
gPlusUserId,,,,,,,,,,,,,,,,,,,,,
100000242929724813348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100000524810171549476,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,4.000000,NaN,...,5.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
100000849267596620071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.545455,NaN,...,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN
100001147750864523621,NaN,NaN,NaN,4.666667,NaN,NaN,NaN,NaN,4.000000,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
100001176398972193069,NaN,NaN,NaN,3.333333,NaN,NaN,NaN,NaN,3.139535,NaN,...,4.0,NaN,NaN,NaN,NaN,3.3,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103184602233528457798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103184623888397816552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103184718839395347405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103185263032810552904,NaN,NaN,NaN,4.500000,NaN,NaN,NaN,NaN,5.000000,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103185877761415724929,NaN,NaN,NaN,3.750000,NaN,NaN,NaN,NaN,4.000000,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
meanmapper = user_place_mat
meanmapper["meaner"] = meanmapper.mean(axis=1)  ## this data frame act as dictionary by storing mean rating of each user and its user id
meanmapper = meanmapper[["meaner"]]

# mean centring

In [ ]:
user_place_mat = user_place_mat.subtract(user_place_mat.mean(axis=1),axis=0)  ## as each user rates differently the mean centring is done

In [ ]:
user_place_mat

categories,Afghani Restaurant,African Restaurant,Alsace Restaurant,American Restaurant,Andalusian Restaurant,Argentinian Restaurant,Armenian Restaurant,Asian Fusion Restaurant,Asian Restaurant,Asturian Restaurant,...,Venetian Restaurant,Venezuelan Restaurant,Vietnamese Restaurant,West African Restaurant,Western Restaurant,Wok Restaurant,Yakiniku Restaurant,Yakisoba Restaurant,Yakitori Restaurant,meaner
gPlusUserId,,,,,,,,,,,,,,,,,,,,,
100000242929724813348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.400000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.881784e-16
100000524810171549476,NaN,NaN,NaN,0.250000,NaN,NaN,NaN,NaN,-0.750000,NaN,...,NaN,NaN,-0.750000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
100000849267596620071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.550505,NaN,...,NaN,NaN,NaN,NaN,-0.095960,NaN,NaN,NaN,NaN,0.000000e+00
100001147750864523621,NaN,NaN,NaN,0.488889,NaN,NaN,NaN,NaN,-0.177778,NaN,...,NaN,NaN,-1.177778,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
100001176398972193069,NaN,NaN,NaN,0.200848,NaN,NaN,NaN,NaN,0.007049,NaN,...,NaN,NaN,NaN,NaN,0.167514,NaN,NaN,NaN,NaN,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103184602233528457798,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
103184623888397816552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00
103184718839395347405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.857143,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.881784e-16
103185263032810552904,NaN,NaN,NaN,-0.013889,NaN,NaN,NaN,NaN,0.486111,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8.881784e-16
103185877761415724929,NaN,NaN,NaN,-0.619048,NaN,NaN,NaN,NaN,-0.369048,NaN,...,NaN,NaN,0.630952,NaN,NaN,NaN,NaN,NaN,NaN,-8.881784e-16

In [ ]:
normed = user_place_mat.subtract(user_place_mat.mean(axis=1),axis=0)   ## this is the same mean centred matrix but this will help us find pearson correlation
normed = normed.fillna(0)

In [ ]:
meanmapper

categories               meaner
gPlusUserId
100000242929724813348  4.400000
100000524810171549476  4.750000
100000849267596620071  3.095960
100001147750864523621  4.177778
100001176398972193069  3.132486
...                         ...
103184602233528457798  3.166667
103184623888397816552  3.100000
103184718839395347405  4.142857
103185263032810552904  4.513889
103185877761415724929  4.369048

[14647 rows x 1 columns]

In [ ]:
normed

categories,Afghani Restaurant,African Restaurant,Alsace Restaurant,American Restaurant,Andalusian Restaurant,Argentinian Restaurant,Armenian Restaurant,Asian Fusion Restaurant,Asian Restaurant,Asturian Restaurant,...,Venetian Restaurant,Venezuelan Restaurant,Vietnamese Restaurant,West African Restaurant,Western Restaurant,Wok Restaurant,Yakiniku Restaurant,Yakisoba Restaurant,Yakitori Restaurant,meaner
gPlusUserId,,,,,,,,,,,,,,,,,,,,,
100000242929724813348,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,-0.400000,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,3.229740e-16
100000524810171549476,0.0,0.0,0.0,0.250000,0.0,0.0,0.0,0.0,-0.750000,0.0,...,0.0,0.0,-0.750000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000e+00
100000849267596620071,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,-0.550505,0.0,...,0.0,0.0,0.000000,0.0,-0.095960,0.0,0.0,0.0,0.0,4.934325e-17
100001147750864523621,0.0,0.0,0.0,0.488889,0.0,0.0,0.0,0.0,-0.177778,0.0,...,0.0,0.0,-1.177778,0.0,0.000000,0.0,0.0,0.0,0.0,2.220446e-16
100001176398972193069,0.0,0.0,0.0,0.200848,0.0,0.0,0.0,0.0,0.007049,0.0,...,0.0,0.0,0.000000,0.0,0.167514,0.0,0.0,0.0,0.0,2.896234e-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103184602233528457798,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,-1.332268e-16
103184623888397816552,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,7.401487e-17
103184718839395347405,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.857143,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,3.330669e-16
103185263032810552904,0.0,0.0,0.0,-0.013889,0.0,0.0,0.0,0.0,0.486111,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,-4.440892e-16
103185877761415724929,0.0,0.0,0.0,-0.619048,0.0,0.0,0.0,0.0,-0.369048,0.0,...,0.0,0.0,0.630952,0.0,0.000000,0.0,0.0,0.0,0.0,-4.037175e-16

# adjusted cosine

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
sim_mat_user = cosine_similarity(normed)  ##  as normed matrix is already mean centred the cosine simillarity will adjusted cosine
sim_mat_user = pd.DataFrame(sim_mat_user,columns=normed.index.values,index = normed.index.values)

# predicting rating for a user

In [ ]:
user = str(100000524810171549476)
rem_sim_mat = sim_mat_user.drop(index=user) #dropping the particular picked user from the similarity matrix 
n=5 # number of neighbours
simusers = rem_sim_mat[user].sort_values(ascending=False)[:n] # getting the similar user for given user using the filtered sim matrix
print("similar users for ",user," are")
print(simusers)

similar users for  100000524810171549476  are
102697729913884590558    0.760738
102140013691391663833    0.735998
100279090218552251976    0.734494
102702593943459551804    0.724569
101811862606076218553    0.723042
Name: 100000524810171549476, dtype: float64

In [ ]:
rem_sim_mat

,100000242929724813348,100000524810171549476,100000849267596620071,100001147750864523621,100001176398972193069,100001187596850795773,100001334790334504027,100001366265906885388,100001724409649150102,100001908035709496150,...,103183570053193175186,103183736378612297410,103183846913701039105,103183847404709289201,103184479884100244029,103184602233528457798,103184623888397816552,103184718839395347405,103185263032810552904,103185877761415724929
100000242929724813348,1.000000,0.100560,-1.995719e-02,0.061320,-0.001281,-0.009489,0.0,0.151219,0.089387,-7.950955e-02,...,0.094679,0.075265,-0.092651,-8.295796e-02,-0.036101,-8.448749e-02,0.049718,-0.065832,-0.115269,0.168432
100000849267596620071,-0.019957,0.099879,1.000000e+00,0.009436,-0.082533,-0.002093,0.0,-0.419324,-0.022700,-1.302342e-01,...,-0.693122,-0.050837,-0.218596,3.040537e-01,-0.169619,-1.063882e-33,-0.541504,-0.080459,0.024688,0.009131
100001147750864523621,0.061320,0.238494,9.436260e-03,1.000000,0.019268,0.249021,0.0,-0.007438,0.042008,-2.829543e-01,...,-0.007504,0.212432,0.055461,1.710363e-01,0.004159,1.992367e-02,0.157047,-0.144155,-0.003958,-0.290053
100001176398972193069,-0.001281,0.113973,-8.253294e-02,0.019268,1.000000,-0.018028,0.0,0.010730,-0.039419,1.192799e-02,...,0.310448,0.011626,0.104849,-2.168966e-02,-0.069591,4.834079e-02,0.106310,0.069404,0.135006,0.015481
100001187596850795773,-0.009489,-0.056614,-2.092904e-03,0.249021,-0.018028,1.000000,0.0,0.001419,-0.245327,-6.546537e-01,...,-0.012322,-0.057781,-0.101211,1.801442e-01,-0.017389,-1.189129e-02,0.076338,0.092656,0.207878,0.208285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103184602233528457798,-0.084487,0.000000,-1.063882e-33,0.019924,0.048341,-0.011891,0.0,-0.001755,-0.385077,6.448077e-33,...,-0.031176,-0.014292,0.321352,0.000000e+00,-0.001536,1.000000e+00,-0.207695,0.252092,-0.196165,-0.093204
103184623888397816552,0.049718,0.000000,-5.415037e-01,0.157047,0.106310,0.076338,0.0,0.015208,0.404520,-1.499251e-02,...,0.736523,-0.013762,0.078216,-2.383656e-02,-0.016674,-2.076951e-01,1.000000,-0.242752,-0.047137,0.023763
103184718839395347405,-0.065832,-0.218218,-8.045863e-02,-0.144155,0.069404,0.092656,0.0,0.002735,-0.563730,2.426308e-02,...,0.007433,-0.601338,0.149407,-1.157275e-01,-0.100972,2.520921e-01,-0.242752,1.000000,0.367293,0.186247
103185263032810552904,-0.115269,-0.121704,2.468754e-02,-0.003958,0.135006,0.207878,0.0,-0.059058,-0.529976,7.946455e-02,...,-0.036742,-0.190285,0.203361,6.298109e-18,-0.008883,-1.961647e-01,-0.047137,0.367293,1.000000,-0.115181
103185877761415724929,0.168432,0.044665,9.130617e-03,-0.290053,0.015481,0.208285,0.0,0.028472,0.056317,-3.543271e-01,...,0.192617,-0.050541,-0.239180,-1.071075e-01,-0.210159,-9.320359e-02,0.023763,0.186247,-0.115181,1.000000

In [ ]:
already_watch = user_place_mat[user_place_mat.index==user].dropna(axis=1,how='all')  ## geting out restraunts that user has already rated

In [ ]:
already_watch

categories,American Restaurant,Asian Restaurant,Chicken Restaurant,Delivery Restaurant,French Restaurant,Mediterranean Restaurant,Middle Eastern Restaurant,New American Restaurant,Southeast Asian Restaurant,Sushi Restaurant,Vegetarian Restaurant,Vietnamese Restaurant,meaner
gPlusUserId,,,,,,,,,,,,,
100000524810171549476,0.25,-0.75,0.25,0.25,0.25,0.25,0.25,0.25,-0.75,0.25,0.25,-0.75,0.0

In [ ]:
simi_user_seen = user_place_mat[user_place_mat.index.isin(simusers.index)].dropna(axis=1,how='all') # removing all such restruants that none of the neighbours has rated

In [ ]:
simi_user_seen

categories,African Restaurant,American Restaurant,Asian Fusion Restaurant,Asian Restaurant,Brazilian Restaurant,Buffet Restaurant,East African Restaurant,Ethiopian Restaurant,European Restaurant,Family Restaurant,...,Oyster Bar Restaurant,Pizza Restaurant,Seafood Restaurant,Soul Food Restaurant,South Asian Restaurant,Southeast Asian Restaurant,Sushi Restaurant,Thai Restaurant,Vietnamese Restaurant,meaner
gPlusUserId,,,,,,,,,,,,,,,,,,,,,
100279090218552251976,NaN,0.037037,0.537037,-0.462963,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-0.796296,0.537037,0.537037,-1.462963,-8.881784e-16
101811862606076218553,NaN,0.424242,NaN,-0.242424,0.424242,0.424242,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.424242,-1.575758,0.424242,NaN,-1.575758,0.000000e+00
102140013691391663833,NaN,0.318182,NaN,-0.681818,NaN,NaN,NaN,NaN,0.318182,NaN,...,NaN,-0.181818,NaN,NaN,NaN,-0.681818,NaN,NaN,-0.681818,0.000000e+00
102697729913884590558,0.582143,0.332143,NaN,-1.417857,NaN,NaN,0.582143,0.582143,0.582143,NaN,...,NaN,0.582143,NaN,NaN,NaN,-1.417857,NaN,NaN,-1.417857,0.000000e+00
102702593943459551804,NaN,NaN,NaN,-0.700000,NaN,NaN,NaN,NaN,0.300000,0.3,...,0.3,0.300000,0.3,0.3,NaN,-0.700000,NaN,NaN,-0.700000,0.000000e+00

In [ ]:
simi_user_seen.drop(already_watch.columns,axis=1,inplace=True,errors="ignore") # removing already rated restruants

In [ ]:
simi_user_seen

categories,African Restaurant,Asian Fusion Restaurant,Brazilian Restaurant,Buffet Restaurant,East African Restaurant,Ethiopian Restaurant,European Restaurant,Family Restaurant,Fast Food Restaurant,Hamburger Restaurant,...,Latin American Restaurant,Lobster Restaurant,Mexican Restaurant,Organic Restaurant,Oyster Bar Restaurant,Pizza Restaurant,Seafood Restaurant,Soul Food Restaurant,South Asian Restaurant,Thai Restaurant
gPlusUserId,,,,,,,,,,,,,,,,,,,,,
100279090218552251976,NaN,0.537037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.537037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.537037
101811862606076218553,NaN,NaN,0.424242,0.424242,NaN,NaN,NaN,NaN,NaN,NaN,...,0.424242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.424242,NaN
102140013691391663833,NaN,NaN,NaN,NaN,NaN,NaN,0.318182,NaN,0.318182,0.318182,...,0.318182,NaN,0.318182,NaN,NaN,-0.181818,NaN,NaN,NaN,NaN
102697729913884590558,0.582143,NaN,NaN,NaN,0.582143,0.582143,0.582143,NaN,0.082143,0.082143,...,0.082143,NaN,0.182143,0.582143,NaN,0.582143,NaN,NaN,NaN,NaN
102702593943459551804,NaN,NaN,NaN,NaN,NaN,NaN,0.300000,0.3,NaN,NaN,...,NaN,NaN,NaN,NaN,0.3,0.300000,0.3,0.3,NaN,NaN

# Getting recommendations

In [ ]:
item_score = {}
for i in simi_user_seen.columns:  # for each restruant in the final filtered mat
  score = meanmapper.loc[user]["meaner"] # adding the mean back as we have subtracted it earlier
  movie_rating = simi_user_seen[i]
  for u in simusers.index:
    if pd.isna(movie_rating[u])==False:
      number_of_common_rated = (user_place_mat.loc[user].notnull() & user_place_mat.loc[u].notnull()).sum()
      if(number_of_common_rated > 5):      ## sim_score
          number_of_common_rated = 5
      score = score + sim_mat_user.loc[user][u]*movie_rating[u]*number_of_common_rated/abs(sim_mat_user.loc[user][u]*number_of_common_rated) # weighted mean centered calculation of rating
  item_score[i] = score

In [ ]:
final_recommendations = sorted(item_score.items(), key=lambda x:x[1],reverse=True)

In [ ]:
final_recommendations[:10] ## get the top 10 recommendations

[('European Restaurant', 5.9503246753246755),
 ('Latin American Restaurant', 5.5745670995671),
 ('Pizza Restaurant', 5.4503246753246755),
 ('Italian Restaurant', 5.368181818181818),
 ('African Restaurant', 5.332142857142857),
 ('East African Restaurant', 5.332142857142857),
 ('Ethiopian Restaurant', 5.332142857142857),
 ('Organic Restaurant', 5.332142857142857),
 ('Asian Fusion Restaurant', 5.287037037037036),
 ('Lobster Restaurant', 5.287037037037036)]

#ITEM-ITEM

In [ ]:
item_user = final_df.pivot_table(index="categories",columns="gPlusUserId",values="rating")
item_user

gPlusUserId,100000242929724813348,100000524810171549476,100000849267596620071,100001147750864523621,100001176398972193069,100001187596850795773,100001334790334504027,100001366265906885388,100001724409649150102,100001908035709496150,...,103183570053193175186,103183736378612297410,103183846913701039105,103183847404709289201,103184479884100244029,103184602233528457798,103184623888397816552,103184718839395347405,103185263032810552904,103185877761415724929
categories,,,,,,,,,,,,,,,,,,,,,
Afghani Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
African Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alsace Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
American Restaurant,NaN,5.0,NaN,4.666667,3.333333,3.0,NaN,NaN,4.0,5.0,...,NaN,4.0,4.333333,NaN,4.0,NaN,NaN,NaN,4.5,3.75
Andalusian Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Restaurant,NaN,NaN,3.0,NaN,3.300000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wok Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN
Yakiniku Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yakisoba Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yakitori Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
normed_nan = item_user.subtract(item_user.mean(axis=1),axis=0)

In [ ]:
normed_nan

gPlusUserId,100000242929724813348,100000524810171549476,100000849267596620071,100001147750864523621,100001176398972193069,100001187596850795773,100001334790334504027,100001366265906885388,100001724409649150102,100001908035709496150,...,103183570053193175186,103183736378612297410,103183846913701039105,103183847404709289201,103184479884100244029,103184602233528457798,103184623888397816552,103184718839395347405,103185263032810552904,103185877761415724929
categories,,,,,,,,,,,,,,,,,,,,,
Afghani Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
African Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alsace Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
American Restaurant,NaN,1.061734,NaN,0.728401,-0.604932,-0.938266,NaN,NaN,0.061734,1.061734,...,NaN,0.061734,0.395068,NaN,0.061734,NaN,NaN,NaN,0.561734,-0.188266
Andalusian Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Restaurant,NaN,NaN,-0.743356,NaN,-0.443356,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wok Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.55,NaN,NaN,NaN,NaN,NaN,NaN
Yakiniku Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yakisoba Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yakitori Restaurant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
normed_fill = normed_nan.fillna(0)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
item_sim = cosine_similarity(normed_fill)  ##  as normed matrix is already mean centred the cosine simillarity will produce adjusted cosine
item_sim = pd.DataFrame(item_sim,columns=normed_fill.index.values,index = normed_fill.index.values)  # item-item similarity matrix

In [ ]:
item_sim

,Afghani Restaurant,African Restaurant,Alsace Restaurant,American Restaurant,Andalusian Restaurant,Argentinian Restaurant,Armenian Restaurant,Asian Fusion Restaurant,Asian Restaurant,Asturian Restaurant,...,Vegetarian Restaurant,Venetian Restaurant,Venezuelan Restaurant,Vietnamese Restaurant,West African Restaurant,Western Restaurant,Wok Restaurant,Yakiniku Restaurant,Yakisoba Restaurant,Yakitori Restaurant
Afghani Restaurant,1.000000,0.038420,0.000000,0.006187,0.000000,0.015721,0.000000,0.004698,0.025032,0.000000,...,0.022911,0.000000,0.000197,0.006712,0.000000,-0.000075,0.000000,0.000000,0.000000,-0.000002
African Restaurant,0.038420,1.000000,-0.007769,0.035553,0.006669,0.026862,0.020729,0.020572,0.022268,0.008764,...,0.023460,-0.001052,0.014029,-0.007497,0.079260,0.000892,0.000000,0.000000,0.000000,-0.010201
Alsace Restaurant,0.000000,-0.007769,1.000000,-0.004038,0.000000,0.000000,0.064550,-0.007252,0.002811,0.000000,...,-0.002446,0.000000,0.000000,0.005479,-0.008505,-0.002665,0.000000,0.000000,0.000000,0.000015
American Restaurant,0.006187,0.035553,-0.004038,1.000000,-0.001234,0.040419,0.000506,0.039990,0.170230,0.012129,...,0.069014,0.009929,0.015996,0.055783,-0.010142,0.054252,-0.000352,0.017494,-0.008581,0.012775
Andalusian Restaurant,0.000000,0.006669,0.000000,-0.001234,1.000000,0.075570,0.000000,-0.000679,-0.008083,0.046060,...,-0.002488,0.000000,0.000000,-0.001109,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Western Restaurant,-0.000075,0.000892,-0.002665,0.054252,0.000000,0.016445,0.008687,0.002439,0.062496,0.000000,...,0.011332,-0.008400,0.000000,0.002761,0.000000,1.000000,0.000000,0.004716,0.000000,-0.004045
Wok Restaurant,0.000000,0.000000,0.000000,-0.000352,0.000000,-0.005710,0.000000,-0.023486,0.005372,0.000000,...,-0.005256,0.000000,0.000000,0.014301,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
Yakiniku Restaurant,0.000000,0.000000,0.000000,0.017494,0.000000,0.000000,0.000000,0.000000,0.014519,0.000000,...,-0.000460,0.000000,0.000000,0.000040,0.000000,0.004716,0.000000,1.000000,-0.137588,0.057396
Yakisoba Restaurant,0.000000,0.000000,0.000000,-0.008581,0.000000,0.000000,0.000000,0.000000,0.009032,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-0.137588,1.000000,0.062228
Yakitori Restaurant,-0.000002,-0.010201,0.000015,0.012775,0.000000,-0.010364,-0.023302,-0.000225,0.033702,0.000000,...,-0.003549,0.000000,-0.000044,-0.004326,0.000000,-0.004045,0.000000,0.057396,0.062228,1.000000

In [ ]:
user_id = str(100000524810171549476) # random user
user_watched = pd.DataFrame(item_user[user_id].dropna(axis=0,how="all").sort_values(ascending=False).reset_index().rename(columns={user_id:"rating"})) ## getting all restruant already rated by user

In [ ]:
user_watched

                    categories  rating
0          American Restaurant     5.0
1           Chicken Restaurant     5.0
2          Delivery Restaurant     5.0
3            French Restaurant     5.0
4     Mediterranean Restaurant     5.0
5    Middle Eastern Restaurant     5.0
6      New American Restaurant     5.0
7             Sushi Restaurant     5.0
8        Vegetarian Restaurant     5.0
9             Asian Restaurant     4.0
10  Southeast Asian Restaurant     4.0
11       Vietnamese Restaurant     4.0

In [ ]:
unkn_rest = "African Restaurant" # setting a restuarant type not visited by above define user

In [ ]:
unkn_rest_sim = item_sim[[unkn_rest]].reset_index().rename(columns={"index":"categories","African Restaurant": "sim_score"})

In [ ]:
unkn_rest_sim #Unknown restuarant type similarity with every other restuarant type

                categories  sim_score
0       Afghani Restaurant   0.038420
1       African Restaurant   1.000000
2        Alsace Restaurant  -0.007769
3      American Restaurant   0.035553
4    Andalusian Restaurant   0.006669
..                     ...        ...
234     Western Restaurant   0.000892
235         Wok Restaurant   0.000000
236    Yakiniku Restaurant   0.000000
237    Yakisoba Restaurant   0.000000
238    Yakitori Restaurant  -0.010201

[239 rows x 2 columns]

In [ ]:
user_previous_rated_sim = pd.merge(left = user_watched,right=unkn_rest_sim,on="categories",how="inner").sort_values("sim_score",ascending=False)[:5]

In [ ]:
user_previous_rated_sim # merging both user rated and similarity tables and getting top 5 similar restuarant that user has already rated

                  categories  rating  sim_score
6    New American Restaurant     5.0   0.051536
5  Middle Eastern Restaurant     5.0   0.051353
4   Mediterranean Restaurant     5.0   0.047587
0        American Restaurant     5.0   0.035553
3          French Restaurant     5.0   0.030181

In [ ]:
predicted_rat = round(np.average(user_previous_rated_sim["rating"],weights=user_previous_rated_sim["sim_score"]),5) # average rating for this top 5 restuarant with the unkown restuarant

In [ ]:
unrated_res = pd.DataFrame(item_user[user_id].isna()).reset_index()
unrated_res = unrated_res[unrated_res[user_id]==True]["categories"].values.tolist()

In [ ]:
rating_preder = {}

In [ ]:
for unrate in unrated_res:
  unkn_rest_sim = item_sim[[unrate]].reset_index().rename(columns={"index":"categories",unrate: "sim_score"})
  user_previous_rated_sim = pd.merge(left = user_watched,right=unkn_rest_sim,on="categories",how="inner").sort_values("sim_score",ascending=False)[:5]
  predicted_rat = round(np.average(user_previous_rated_sim["rating"],weights=user_previous_rated_sim["sim_score"]),5) # average rating for this top 5 restuarant with the unkown restuarant
  rating_preder[unrate] = predicted_rat

In [ ]:
rating_preder = sorted(rating_preder.items(), key=lambda x:x[1],reverse=True)

In [ ]:
rating_preder[:10]

[('African Restaurant', 5.0),
 ('Andalusian Restaurant', 5.0),
 ('Argentinian Restaurant', 5.0),
 ('Armenian Restaurant', 5.0),
 ('Belgian Restaurant', 5.0),
 ('Brunch Restaurant', 5.0),
 ('Catalonian Restaurant', 5.0),
 ('Central American Restaurant', 5.0),
 ('Continental Restaurant', 5.0),
 ('Dan Dan Noodle Restaurant', 5.0)]

#References

https://cseweb.ucsd.edu/classes/wi15/cse255-a/reports/wi15/Xinchi_Gu_Long_Jin.pdf

https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwio69eyocr9AhWVBd4KHXypA1cQFnoECA0QAQ&url=http%3A%2F%2Fpzs.dstu.dp.ua%2FDataMining%2Frecom%2Fbibl%2F1aggarwal_c_c_recommender_systems_the_textbook.pdf&usg=AOvVaw3gEg_g9MFFlzWUpTJLIg3L